.btn-dark {
  margin-left: 2rem;
}

#task-input {
  border: none;
  border-bottom: solid 1px #fafafa;
  width: 100%;
  background: none;
}
#task-input:focus {
  outline: none;
}
#filter {
  border: none;
  border-bottom: solid 1px #fafafa;
  width: 100%;
  background: none;
  margin-bottom: 1rem;
}
#filter:focus {
  outline: none;
}
.btn-delete {
  float: right;
  height: 1rem;
  width: 1rem;
}
/* render 'X' instead of delete button*/
.btn-delete:after {
  display: inline-block;
  content: '\2715';
  color: black;
  position: relative;
  top: -0.4rem;
  width: 2rem;
}
.checkbox {
  float: right;
  margin-right: 1rem;
  border-radius: 0%;
}
.checkbox:checked {
  background-color: red;
}
