@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@100;300;400&display=swap');
/* font-family: 'Lato', sans-serif; */

:root {
  --orange: #c97556;
  --tealgreen: #184149;
  --grey: #c6d4d8;
}

.container {
  justify-content: center;
}

.jumbotron {
  /* background-color: #f8f8f8; */
  font-family: 'Fjalla One', sans-serif;
  color: var(--orange);
}
h1 {
  float: center;
}
.btn-dark {
  background-color: var(--tealgreen) !important;
  border: none;
  width: 8rem;
  height: 3rem;
}
input {
  font-family: 'Lato', sans-serif;
}
.list-item {
}
.list-item.line-through {
  text-decoration: line-through;
  color: var(--tealgreen);
}
#task-input {
  border: none;
  border-bottom: solid 1px #636363;
  width: 100%;
  background: none;
}
#task-input:focus {
  outline: none;
}
#filter {
  border: none;
  border-bottom: solid 1px #636363;
  width: 100%;
  background: none;
  margin-bottom: 1rem;
}
#filter:focus {
  outline: none;
}
.btn-delete {
  float: right;
  height: 1rem;
  width: 1rem;
}
/* render 'X' instead of delete button*/
.btn-delete:after {
  display: inline-block;
  content: '\2715';
  color: black;
  position: relative;
  width: 2rem;
}
.checkbox {
  float: right;
  margin-right: 1rem;
  border-radius: 0%;
}
.checkbox:checked {
  background-color: red;
}
